name: CICD chained build
on: push
jobs:
  build_job:
    runs-on: ubuntu-latest
    steps:
    - name: Run many steps
      run: echo "build job"

  test_job:
    needs: build_job
    runs-on: ubuntu-latest
    steps:
    - name: Run many steps
      run: echo "test job"

  deploy_job:
    needs: test_job
    runs-on: ubuntu-latest
    steps:
    - name: Run many steps
      run: echo "deploy job"